<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength="5" maxlength="10" ngModel name="firstName" id="firstName" #firstName="ngModel" (change)="log(firstName)" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required">First Name is required.</div>
          <div *ngIf="firstName.errors.minlength">First name should be minimum 3 characters long.</div>
        </div>
      </div>
      <div class="form-group-">
        <label for="lastName">Last Name</label>
        <input required ngModel name="lastname" id="lastName" type="text" #lastName="ngModel" (change)="log(lastName)" class="form-control">
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">First Name is required.</div>
      </div>
  </div>
  <div class="form-group">
    <label for="comment">Comments</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isChecked"> Want to check
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <!-- map only id of object-->
      <!--option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option-->
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
    </select>
  </div>
  <div *ngFor="let time of contactTimes" class="radio">
    <label>
      <input ngModel type="radio" name="ContactTime" [value]="time.id"> {{time.time}}
    </label>
  </div>
  <p>{{f.value | json}}</p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>

